extends base

include _reviewCard

block append head
    script(src="https://js.stripe.com/v3/")

block content
    section.book-header.section
        .white-block.white-block-left
        .wrapper
            h3.book__title= book.title

    section.book-description.section.section-padding
        .white-block.white-block-left
        .wrapper
            .book-box
                .book-description__box-info.book-description__box-info--right
                    img(src=`/img/books/${book.imageCover}`, alt=`${book.title}`)
                    ul
                        li
                            i.far.fa-user
                            span= ` Author: ${book.author}`
                        li
                            i.fas.fa-book
                            span= ` Genre: ${book.genre}`
                        li
                            i.far.fa-calendar-alt
                            span= ` Year of prod: ${book.year}`
                        li
                            i.fas.fa-globe-europe
                            span= ` Language: ${book.language}`
                        li
                            i.far.fa-check-square
                            span= ` Read: ${book.read}`
                        li
                            i.far.fa-star
                            span= ` Rating: ${book.ratingsAverage}`
                .book-description__box-desc.book-description__box-desc--right
                    h3.book__title Description
                    p.book__desc= book.description
    section.book-reviews.section
        .white-block.white-block-left
        .wrapper
            h2.book-reviews__heading Reviews
            .reviews__boxes
                each review in book.reviews
                    +reviewCard(review)
            if user
                .book-reviews__addReview
                    button.book-reviews__addReview-btn.btn-special-animation Add review
                .book-reviews__reviewForm
                    .book-reviews__reviewForm-box
                        .close +
                        .form__group
                            label.form__group-label(for='review') Review
                            input#review(type='text', placeholder='Enter your review', class='form__group-input', required, minlength='5')
                        .form__group
                            label.form__group-label(for='rating') Rating
                            input#rating(type='number', placeholder='Rate between 1-5', class='form__group-input', required, minlength='1', min='1' max='5')
                        .form__group
                            button.form__group-btn.btn-special-animation(data-book-id=`${book.id}`) Submit
                        .popup
                            p.popup__text You have just add a Review successfully!
                            button.close-btn.btn-special-animation Close

    section.rent
        .white-block.white-block-left
        .wrapper
            .rent-box
                h2.rent-box__title Would you like to read this book?
                p.rent-box__text For only 10$ you can rent that book for a month!

                if user
                    button.rent-box__btn.btn-special-animation#rent-book(data-book-id=`${book.id}`) Rent a book!
                else
                    a.rent-box__btn.btn-special-animation(href='/login') Log in to rent book!
    script(src="/js/stripe.js")